/* START card Card used in About and Work pages */

.card-1 {
  grid-area: card1;
}

.card-2 {
  grid-area: card2;
}

.card-3 {
  grid-area: card3;
}

.card {
  background: var(--carbon);
  -webkit-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.25);
  padding: 0.6rem;
  border-bottom: #eece1a 5px solid;
  border-radius: 20px 0;
  text-align: justify;
}

.card i {
  padding: 5px;
}

.card .card-title {
  text-align: center;
}

.card p {
  padding: 10px;
}

/* END card Card */

/* Icons */

.box-icon-wrapper {
  position: relative;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .card {
    text-align: left;
    margin: 1rem 0rem;
  }

  .card i {
    padding: 0px;
  }
}