.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
}

.boxes div {
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
  width: 45%;
  border-radius: 30px 0px;
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.75);
}

.boxes div:hover {
  background: #d8c03b;
  box-shadow: 0px 5px 20px 10px #eece1a;
}

.boxes div:hover span {
  color: #000;
}

.boxes div:hover a {
  color: #000;
}

@media screen and (min-width: 1171px) and (max-width: 1407px) {
  .boxes div {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .boxes {
    margin-top: 3rem;
  }

  .box-icon {
    padding: 2%;
    display: inline-block;
  }

  .boxes div {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .boxes {
    margin-top: 3rem;
  }

  .boxes div {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .boxes div {
    font-size: 0.8rem;
    transition: all 0.5s ease-out;
  }
}