.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'card1 card2 card3';
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.4rem;
  text-align: left;
}

.exp-container {
  margin-bottom: 5rem;
}

.exp-card {
  padding: 1rem 2rem 0rem;
  margin: 0rem 2rem 2rem 2rem;
}

.exp-card .card-title {
  text-align: left;
}

.exp-card ul {
  padding-right: 3rem;
}

.work-task {
  padding: 5px;
  font-size: large;
}


@media screen and (min-width: 769px) and (max-width: 1170px) {
  .exp-card {
    margin: 0rem 0rem 2rem 0rem;
  }

  .exp-card ul {
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'card1' 'card2' 'card3';
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  .exp-card {
    margin: 0rem;
  }

  .exp-card ul {
    padding: 0.5rem;
  }
}
